<script setup lang="ts">
  // Variables with type annotations
  let message: string = "Hello, TypeScript!";
  const pi: number = 3.14159;

  // Function with type annotations for parameters and return type
  const greet = (name: string): string => `Hello, ${name}!`;

  let greeting: string = greet("Alice");

  // Interface to define the shape of an object
  interface Person {
    name: string;
    age: number;
    city?: string; // Optional property
  }

  // Creating an object that adheres to the Person interface
  let person: Person = {
    name: "John",
    age: 30,
    city: "New York"
  };
  let people = {
    name: "John",
    age: 30,
    city: "New York"
  } as Person;

  // Function that accepts a parameter of type Person
  function describePerson(p: Person): string {
    return p.name + " is " + p.age + " years old and lives in " + (p.city ? p.city : "an unknown city") + ".";
  }
  console.log(describePerson(person));

  interface IAnimal {
    name: string,
    age: number,
    species: string,
  }
  // Class with properties and a method
  class Animal implements IAnimal{
    // Properties with access modifiers and type annotations
    public name: string = "";
    public age: number = 0;
    public species: string = "";
    // private members are accessible only within the class.
    // public members are accessible from outside the class.
    // protected members are accessible within the class and its subclasses.

    // Constructor to initialize the properties
    // constructor(name: string, age: number, species: string) {
    //   this.name = name;
    //   this.age = age;
    //   this.species = species;
    // }
    constructor(init: IAnimal) {
      Object.assign(this, init)
    }

    // Method to describe the animal
    describe(): string {
      return `${this.name} is a ${this.age}-year-old ${this.species}.`;
    }
  }
  const object: IAnimal = {
    name: "Buddy",
    age: 5,
    species: "dog"
  };
  let animal = new Animal(object);

  // Generics type
  const identity = <T>(arg: T): T => arg;

  let output1 = identity<string>("Hello");
  let output2 = identity<number>(42);
</script>
<template>
  <div>
    <div>Person :: {{ describePerson(person) }}</div>
    <div>Animal :: {{ animal.describe() }}</div>
  </div>
</template>
