<script setup>
  // Variables
  let message = "Hello, World!";
  const pi = 3.14159;

  // Define and call function
  function greet(name) {
      return "Hello, " + name + "!";
  }
  let greeting = greet("Alice");

  // Conditional statement
  if (greeting === "Hello, Alice!") {
    console.log("The greeting is correct!");
  } else {
    console.log("The greeting is incorrect.");
  }

  // Loop numbers from 1 to 5
  for (let i = 1; i <= 5; i++) {
    console.log(i);
  }

  // Arrays and loop
  let fruits = ["Apple", "Banana", "Cherry"];
  for (let i = 0; i < fruits.length; i++) {
    console.log(fruits[i]);
  }
  // To
  for (const element of fruits) {
    console.log(element);
  }

  // Objects
  let person = {
    name: "John",
    age: 30,
    city: "New York"
  };
  // Accessing object properties
  console.log(person.name);
  console.log(person["age"]);
  // Adding a new property and re-assign to the object
  person.age = 100;
  person.country = "USA";

  // Function that operates on an object
  function describePerson(p) {
    return p.name + " is " + p.age + " years old and lives in " + p.city + ", " + p.country + ".";
  }
  // To ES6
  const describePersonEs6 = (p) => `${p.name} is ${p.age} years old and lives in ${p.city}, ${p.country}.`;
  console.log(describePerson(person));
</script>

<template>
  <div>{{ describePerson(person) }}</div>
</template>
